<div class="main">

  <section class="" id="hero">
    <div class="container hero">
      <div class="row call-out">
        <div class="col-md-5 col-xsm-12 animated fadeInDown">
        <h1>
          <img src="http://res.cloudinary.com/lasttry/image/upload/v1446503321/cyber-hire/logo.png">
        </h1>
        <p>Assisting your Company with Cyber and IT Solutions’ hiring</p>
        <p><a href="mailto:recruiting@cyberhiresolutions.com" class="btn btn-lg">Get Started</a></p>
        </div> <!-- end col -->
        </div><!-- end row -->
      </div> <!-- end container -->
  </section>

  <section class="alt">
    <!-- Section One -->
    <div class="row section">
      <div class="container">
        <div class="col-md-4">
          <img src="http://res.cloudinary.com/lasttry/image/upload/v1444715190/cyber-hire/workspace.jpg" alt="a classic work space" class="img-responsive">
        </div>
        <div class="col-md-8">
          <h2>Contingent Recruiting</h2>
          <p>We believe strongly in working hand in hand with your business development team.</p>
          <p>Our team is dedicated to bringing your company the contracts that it deserves.</p>
          <p><a href="mailto:recruiting@cyberhiresolutions.com" class="btn btn-lg">Get Started</a></p>
        </div>
      </div>
    </div>
  </section>


  <section class="">
    <!-- Section two -->
    <div class="row section">
      <div class="container">
        <div class="col-md-8">
          <h2>Funded Recruiting</h2>
          <p>We will fill your current vacancies by finding qualified candidates quickly</p>
          <p>Cyber Hire Solutions is here to provide solutions for all of your hiring needs.</p>
          <p><a href="mailto:recruiting@cyberhiresolutions.com" class="btn btn-lg">Get Started</a></p>
        </div>

        <div class="col-md-4">
          <img src="http://res.cloudinary.com/lasttry/image/upload/v1444858222/cyber-hire/man-cyber.jpg" alt="cyber man on laptop" class="img-responsive">
        </div>
      </div>
    </div>
  </section>

  <section class="alt">
    <div class="row section">
      <div class="container">
        <div class="col-md-12">
          <h2>
            Interested? Questions? Just want to say Hi?
          </h2>
          <p>
            <a href="mailto:recruiting@cyberhiresolutions.com">Recruiting@cyberhiresolutions.com</a>
          </p>
            <p>We are enthusiastic, highly skilled recruiters with experience filling tough roles. Whether it's TS/SCI or public trust, we have the experience behind us to make it happen. We have a background in hiring for the Dept of State, DoD, Army, Air Force, Dept. of Homeland Security, DISA, etc. We also have corporate staffing experience at AOL, Amazon and startups just ramping up.
          </p>
          <p>We believe in creating lasting relationships with both our clients and candidates.</p>
          <p>Our mission is simple: we want to place smart people for exciting companies!</p>
        </div>
      </div>
      </div>
  </section>

</div>